{% extends 'base.html' %}
{% block title %}- Reset{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="alert alert-info">비밀번호를 잊으셨나요? 아래에 당신의 이메일을 입력하시면, 비밀번호 초기화 이메일을 전송해 드리겠습니다.</div>
        <form method="POST" action="/account/password/reset/" class="password_reset">
            {% csrf_token %}
            <!--<input type="hidden" name="csrfmiddlewaretoken" value="EQZ6Z7BsDKhub2MdBouidQvFI3ad5L24eMhhvme29YhHLfEWSYupT62ovh6uPB8T">-->
            <p><label for="id_email">이메일:</label> <input type="email" name="email" placeholder="이메일 주소" autocomplete="email" required="" id="id_email"></p>
            <input class="btn btn-primary btn-sm" type="submit" value="이메일 발송">
        </form>
    </div>
</div>
{% endblock %}